<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>Job Types</h2>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="jobType in jobTypes">
                    {{ jobType }}
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Cron Triggers</h2>
            <div class="panel panel-default" ng-repeat="trigger in cronTriggers">
                <div class="panel-heading">
                    <span class="label" ng-class="{'label-success': trigger.StateId == 0, 'label-info': trigger.StateId == 1}">{{ trigger.StateDescription }}</span>
                    {{ trigger.CronExpressionDescription }}
                    <button type="button" class="close pull-right" data-dismiss="alert" ng-click="deleteCronTrigger(trigger)">×</button>
                </div>
                <div class="panel-body">
                    <strong>Id</strong>
                    <div>{{ trigger.Id }}</div>
                    <strong>Job Type</strong>
                    <div>{{ trigger.JobType }}</div>
                    <strong>Cron Expression</strong>
                    <div>{{ trigger.CronExpressionString }}</div>
                    <strong>Time Zone</strong>
                    <div>{{ trigger.TimeZoneInfo.DisplayName }}</div>
                    <hr>
                    <button type="button" class="btn btn-default" ng-click="pauseCronTrigger(trigger)">
                        <span ng-if="trigger.StateId == 0">Pause</span>
                        <span ng-if="trigger.StateId == 1">Resume</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h2>Simple Triggers</h2>
            <div class="panel panel-default" ng-repeat="trigger in simpleTriggers">
                <div class="panel-heading">
                    <span class="label" ng-class="{'label-success': trigger.StateId == 0, 'label-info': trigger.StateId == 1}">{{ trigger.StateDescription }}</span>
                    {{ trigger.StartTimeUtc | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}
                    <button type="button" class="close pull-right" data-dismiss="alert" ng-click="deleteSimpleTrigger(trigger)">×</button>
                </div>
                <div class="panel-body">
                    <strong>Id</strong>
                    <div>{{ trigger.Id }}</div>
                    <strong>Job Type</strong>
                    <div>{{ trigger.JobType }}</div>
                    <strong>Start Time UTC</strong>
                    <div>{{ trigger.StartTimeUtc }}</div>
                    <strong>Interval</strong>
                    <div>{{ trigger.RepeatInterval }}</div>
                    <strong>Repetitions</strong>
                    <div>{{ trigger.RepeatCount }}</div>
                    <hr>
                    <button type="button" class="btn btn-default" ng-click="pauseSimpleTrigger(trigger)">
                        <span ng-if="trigger.StateId == 0">Pause</span>
                        <span ng-if="trigger.StateId == 1">Resume</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>