<div class="container-fluid">
    <h3>Connection Status</h3>
    <div health-status="healthStatus"></div>
    <div class="row">
        <div class="col-md-4">
            <h2>Job Types</h2>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="jobType in jobTypes" title="{{ jobType.fullName }}">
                    {{ jobType.name }}
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Cron Triggers</h2>
            <div class="panel panel-default" ng-repeat="trigger in cronTriggers">
                <div class="panel-heading">
                    <span class="label" ng-class="{'label-success': trigger.stateId == 0, 'label-info': trigger.stateId == 1}">{{ trigger.stateDescription }}</span>
                    {{ trigger.cronExpressionDescription }}
                    <button type="button" class="close pull-right" data-dismiss="alert" ng-click="deleteCronTrigger(trigger)">×</button>
                </div>
                <div class="panel-body">
                    <strong>Id</strong>
                    <div>{{ trigger.id }}</div>
                    <strong>Job Type</strong>
                    <div>{{ trigger.jobType }}</div>
                    <strong>Cron Expression</strong>
                    <div>{{ trigger.cronExpressionString }}</div>
                    <strong>Time Zone</strong>
                    <div>{{ trigger.timeZoneId }}</div>
                    <hr>
                    <button type="button" class="btn btn-default" ng-click="pauseCronTrigger(trigger)">
                        <span ng-if="trigger.stateId == 0">Pause</span>
                        <span ng-if="trigger.stateId == 1">Resume</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h2>Simple Triggers</h2>
            <div class="panel panel-default" ng-repeat="trigger in simpleTriggers">
                <div class="panel-heading">
                    <span class="label" ng-class="{'label-success': trigger.stateId == 0, 'label-info': trigger.stateId == 1}">{{ trigger.stateDescription }}</span>
                    {{ trigger.startTimeUtc | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}
                    <button type="button" class="close pull-right" data-dismiss="alert" ng-click="deleteSimpleTrigger(trigger)">×</button>
                </div>
                <div class="panel-body">
                    <strong>Id</strong>
                    <div>{{ trigger.id }}</div>
                    <strong>Job Type</strong>
                    <div>{{ trigger.jobType }}</div>
                    <strong>Start Time UTC</strong>
                    <div>{{ trigger.startTimeUtc }}</div>
                    <strong>Interval</strong>
                    <div>{{ trigger.repeatInterval }}</div>
                    <strong>Repetitions</strong>
                    <div>{{ trigger.repeatCount }}</div>
                    <hr>
                    <button type="button" class="btn btn-default" ng-click="pauseSimpleTrigger(trigger)">
                        <span ng-if="trigger.stateId == 0">Pause</span>
                        <span ng-if="trigger.stateId == 1">Resume</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>